.body {
  justify-content: center;
  padding: 2rem;
  font-size: 18px;
}

.footer {
  background-color: black;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem;
  text-align: center;
  clear: both;
  position: relative;
  height: 170px;
  color: white;
}

.title {
  text-align: center;
}
